* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px 0px 0px 82px;
  background-color: #F1F7FA;
  width: 100%;
}

a:link, a:visited {
  text-decoration: none;
}

a:active {
  outline: none;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  overflow: hidden;
}

header .divider {
  height: 1px;
  width: 100%;
}

header {
  background-color: #ffffff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  width: 100%;
  height: 171px;
  overflow: hidden;
  clear: both;
}

header #toggle {
  padding: 5px;
  float: left;
  margin: 24px;
}

header #toggle .line {
  width: 16px;
  height: 2px;
  margin-bottom: 3px;
  background-color: #afb5b9;
}

header #toggle .line:nth-of-type(3) {
  margin-bottom: 0px;
}

header #search {
  border-style: solid;
  border-width: 1px;
  border-color: #ebebeb;
  border-radius: 25px;
  width: 340px;
  height: 36px;
  background-color: rgba(236, 239, 241, 0);
  position: relative;
  float: right;
  margin: 17px 30px;
}

header #search input {
  color: #c6c6c6;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  border: none;
  height: 30px;
  width: 260px;
  position: absolute;
  top: 2px;
  left: 25px;
  padding-bottom: 3px;
}

header #search ::placeholder {
  color: #c6c6c6;
  opacity: 1;
}

header #search button {
  margin: 0px;
  padding: 0px;
  background-color: transparent;
  border: none;
  width: 30px;
  height: 30px;
  padding: 7px;
  overflow: hidden;
  cursor: pointer;
  position: absolute;
  top: 2px;
  right: 10px;
}

header .divider {
  clear: both;
  background-color: #f1f1f1;
}

header .profile {
  display: inline-block;
  margin: 18px 0px 0px 22px;
  padding: 5px;
}

header .profile .avatar {
  display: inline-block;
  border-radius: 50%;
  background-color: #f0f0f0;
  width: 50px;
  height: 50px;
  position: relative;
  vertical-align: top;
}

header .profile .online {
  display: inline-block;
  border-radius: 50%;
  border-style: solid;
  border-color: #ffffff;
  background-color: #547df9;
  width: 11px;
  height: 11px;
  border-width: 2px;
  position: absolute;
  top: 1px;
  right: 1px;
}

header .profile .name, header .profile .admin {
  text-align: left;
  font-family: "Open Sans";
  font-weight: 300;
  margin: 0px;
  padding: 0px;
}

header .profile .name {
  display: inline-block;
  color: #3c3c3c;
  font-size: 17px;
  margin: 4px 0px 0px 15px;
}

header .profile .admin {
  display: block;
  color: #757575;
  font-size: 14px;
}

header .notifications {
  float: right;
  margin: 38px 2px 0px 0px;
}

header .notifications .message, header .notifications .notification {
  display: inline-block;
  font-family: "Open Sans";
  color: #3c3c3c;
  font-size: 15px;
  font-weight: 300;
  text-align: left;
  margin: 0px 36px 0px 0px;
  position: relative;
}

header .notifications .message img, header .notifications .notification img {
  vertical-align: middle;
  margin: 0px 0px 0px 12px;
}

header .notifications .message span, header .notifications .notification span {
  display: inline-block;
  border-width: 3px;
  border-style: solid;
  border-color: #ffffff;
  border-radius: 25px;
  background-color: #547df9;
  position: absolute;
  top: -11px;
  left: 90%;
  text-align: center;
  font-family: "Open Sans";
  color: white;
  font-size: 10px;
  font-weight: 400;
  height: 22px;
  min-width: 22px;
  max-width: 47px;
  overflow: hidden;
  padding: 0px 5px;
}

main {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  margin: 0px;
  padding: 15px 0px 50px;
  text-align: center;
}

main .group {
  display: inline-block;
  max-width: 1370px;
  margin: 15px;
  clear: both;
}

main .group .profile {
  display: inline-block;
  width: 434px;
  height: 510px;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  text-align: center;
  margin: 0px 15px 15px 0px;
  float: left;
  overflow: hidden;
}

main .group .profile .info {
  width: 100%;
  padding: 45px 0px 40px;
}

main .group .profile .avatar {
  margin: 0 auto 30px;
  border-radius: 50%;
  background-color: #e4e4e4;
  width: 129px;
  height: 129px;
  position: relative;
}

main .group .profile .avatar .online {
  display: inline-block;
  border-radius: 50%;
  border-style: solid;
  border-color: #ffffff;
  background-color: #547df9;
  width: 17px;
  height: 17px;
  border-width: 3px;
  position: absolute;
  bottom: 5px;
  right: 16px;
}

main .group .profile .name, main .group .profile .admin {
  text-align: center;
  font-family: "Open Sans";
  font-weight: 300;
  margin: 0px;
  padding: 0px;
}

main .group .profile .name {
  display: inline-block;
  color: #3c3c3c;
  font-size: 19px;
}

main .group .profile .admin {
  display: block;
  color: #757575;
  font-size: 14px;
}

main .group .profile .details {
  display: inline-block;
  width: 50%;
  padding: 21px 0px 21px 55px;
  border-top: 1px solid #f1f1f1;
}

main .group .profile .details p {
  font-family: "Open Sans";
  color: #4c5e70;
  font-size: 21px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  margin: 0px;
}

main .group .profile .details span {
  display: block;
  font-family: "Open Sans";
  color: #9eb1c3;
  font-size: 14px;
  font-weight: 400;
  line-height: 12px;
  text-align: left;
  padding-bottom: 7px;
}

main .group .profile .details:nth-child(2), main .group .profile .details:nth-child(4) {
  float: left;
  border-right: 1px solid #f1f1f1;
}

main .group .profile .details:nth-child(3), main .group .profile .details:nth-child(5) {
  float: right;
}

main .group .profile .details:nth-child(4), main .group .profile .details:nth-child(5) {
  border-bottom: 1px solid #f1f1f1;
}

main .group .profile a {
  display: inline-block;
  margin: 24px;
  font-family: "Open Sans";
  color: #547df9;
  font-size: 14px;
  font-weight: 600;
  line-height: 14.4px;
}

main .group .statistics-img {
  display: inline-block;
  margin: 0px 0px 15px 15px;
  padding: 0px;
  width: 901px;
  height: 516px;
  float: right;
}

main .group .statistics-bar {
  display: inline-block;
  margin: 15px 0px;
  width: 1368px;
  text-align: center;
  clear: both;
}

main .group .statistics-bar .statistic {
  display: inline-block;
  background-color: #a4d882;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  width: 434px;
  width: 31.72515%;
  height: 158px;
  float: left;
  text-align: left;
  padding: 25px 20px;
}

main .group .statistics-bar .circle {
  display: inline-block;
  border-radius: 50%;
  width: 52px;
  height: 52px;
  margin: 0px 20px 25px 0px;
  vertical-align: top;
}

main .group .statistics-bar .statistic:nth-child(1) {
  margin-right: 16px;
  background-color: #a4d882;
}

main .group .statistics-bar .statistic:nth-child(1) .circle {
  background-color: #96c576;
}

main .group .statistics-bar .statistic:nth-child(2) {
  margin-right: 16px;
  margin-left: 16px;
  background-color: #5ba2e4;
}

main .group .statistics-bar .statistic:nth-child(2) .circle {
  background-color: #5494cf;
}

main .group .statistics-bar .statistic:nth-child(2) img {
  padding: 14px 16px;
}

main .group .statistics-bar .statistic:nth-child(3) {
  margin-left: 16px;
  background-color: #f0d648;
}

main .group .statistics-bar .statistic:nth-child(3) .circle {
  background-color: #e2c93e;
}

main .group .statistics-bar .statistic:nth-child(3) img {
  padding: 14px 16px;
}

main .group .statistics-bar .stat {
  display: inline-block;
  font-family: "Open Sans";
  color: white;
  font-size: 21px;
  font-weight: 400;
  text-align: left;
  margin: 4px 0px;
  vertical-align: top;
}

main .group .statistics-bar span {
  display: block;
  font-size: 14px;
  font-weight: 300;
}

main .group .statistics-bar .results {
  font-family: "Open Sans";
  color: white;
  font-size: 14px;
  font-weight: 400;
  margin: 0px;
  padding: 15px 0px 0px;
  border-top: 1px solid rgba(255, 255, 255, 0.43);
}

main .group .location-img {
  display: inline-block;
  margin: 15px 15px 0px 0px;
  float: left;
  padding: 0px;
}

main .group .mailbox {
  display: inline-block;
  width: 434px;
  height: 1014px;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  text-align: left;
  margin: 15px 0px 0px 15px;
  float: right;
}

main .group .mailbox .title {
  display: inline-block;
  font-family: "Open Sans";
  color: #3c3c3c;
  font-size: 16px;
  font-weight: 400;
  margin: 15px 30px;
}

main .group .mailbox .options {
  margin: 15px 25px;
  padding: 0px 6px;
  float: right;
}

main .group .mailbox .box {
  height: 138px;
  position: relative;
}

main .group .mailbox .box .line {
  background-color: rgba(48, 57, 63, 0.08);
  width: 394px;
  height: 1px;
  margin: 0 auto;
}

main .group .mailbox .box .circle {
  display: inline-block;
  border-radius: 50%;
  background-color: black;
  width: 50px;
  height: 50px;
  margin: 0px;
  position: absolute;
  top: 35px;
  left: 70px;
}

main .group .mailbox .box .sender {
  display: inline-block;
  font-family: "Open Sans";
  color: #37474f;
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  margin: 0px;
  position: absolute;
  top: 38px;
  left: 135px;
}

main .group .mailbox .box .time {
  display: block;
  font-family: "Open Sans";
  color: #a7b0b8;
  font-size: 12px;
  font-weight: 300;
  text-align: left;
  margin-top: 2px;
}

main .group .mailbox .box .message {
  display: block;
  font-family: "Open Sans";
  color: #76838f;
  font-size: 14px;
  font-weight: 200;
  text-align: left;
  margin-top: 7px;
}

main .group .mailbox .box .checkbox {
  visibility: hidden;
}

main .group .mailbox .box label {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 50px;
  left: 20px;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  border-color: #e3e6ea;
  background-color: white;
  cursor: pointer;
  z-index: 1;
}

main .group .mailbox .box .checkbox:checked + label {
  background-image: url(images/check.png);
  background-repeat: no-repeat;
  background-position: 7px 8px;
}

main .group .mailbox .box.active {
  background-color: #5ba2e4;
}

main .group .mailbox .box.active .sender, main .group .mailbox .box.active .time, main .group .mailbox .box.active .message {
  color: white;
}

main .group .mailbox .box.active .line {
  display: none;
}

aside {
  width: 250px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #212a32;
  padding: 15px 10px;
}

aside.shadow {
  background: linear-gradient(90deg, transparent 87%, rgba(0, 0, 0, 0.01) 88%, rgba(0, 0, 0, 0.3) 100%);
  background-color: #212a32;
}

aside .logo {
  display: inline-block;
  margin: 0px 0px 0px 6px;
}

aside .title {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 22px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 1px;
  text-align: left;
  vertical-align: top;
  margin: 15px 0px 0px 15px;
}

aside nav {
  margin-top: 30px;
}

aside nav > a {
  display: inline-block;
  height: 64px;
  width: 100%;
  margin: 3px 0px;
  border-radius: 5px;
  clear: both;
}

aside nav > a:hover {
  background-color: rgba(0, 0, 0, 0.09);
}

aside nav > a.active {
  background-color: #2a3845;
}

aside nav > a.current {
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.15);
}

aside nav > a.current .plus {
  display: none;
}

aside nav > a.current .minus {
  display: inline-block;
}

aside nav > a .circle {
  display: inline-block;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.09);
  width: 34px;
  height: 34px;
  margin: 15px 0px 0px 14px;
  overflow: hidden;
}

aside nav > a .circle img {
  width: 16px;
  height: 16px;
  margin: 9px;
}

aside nav > a .name {
  display: inline-block;
  font-family: "Open Sans";
  color: white;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  margin: 21px 0px 0px 15px;
}

aside nav > a .plus, aside nav > a .minus {
  display: inline-block;
  width: 15px;
  float: right;
  color: white;
  font-weight: 600;
  font-size: 18px;
  margin: 20px 25px 0px;
  text-align: center;
}

aside nav > a .minus {
  display: none;
  font-size: 30px;
  margin-top: 10px;
}

aside nav > a.logout {
  display: inline-block;
  width: 100%;
  height: 66px;
  margin: 0px;
  border-radius: 0;
  background-color: #1e2429;
  position: absolute;
  bottom: 0;
  left: 0;
}

aside nav > a.logout.shadow {
  background: linear-gradient(90deg, transparent 87%, rgba(0, 0, 0, 0.01) 88%, rgba(0, 0, 0, 0.3) 100%);
  background-color: #1e2429;
}

aside nav > a.logout img {
  margin: 25px 0px 0px 25px;
  vertical-align: bottom;
}

aside nav > a.logout span {
  display: inline-block;
  font-family: "Open Sans";
  color: #4f5a62;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  margin-left: 10px;
}

aside nav .col2 {
  display: none;
  width: 261px;
  height: 100%;
  padding: 50px 20px;
  background-color: #2a3845;
  position: fixed;
  top: 0;
  left: 230px;
  z-index: 1;
}

aside nav .col2.visible {
  display: block;
}

aside nav .col2 > a {
  display: inline-block;
  width: 221px;
  height: 36px;
  margin: 4px 0px;
  padding: 8px 10px;
  font-family: "Open Sans";
  color: white;
  font-size: 14px;
  font-weight: 400;
  border-radius: 5px;
  text-align: left;
  position: relative;
}

aside nav .col2 > a:hover {
  background-color: rgba(0, 0, 0, 0.09);
}

aside nav .col2 > a.active {
  background-color: #496fdf;
}

aside nav .col2 > a .dot {
  border-radius: 50%;
  background-color: #ffffff;
  width: 6px;
  height: 6px;
  position: absolute;
  top: 14px;
  right: 10px;
}

aside.small {
  width: 82px;
  padding: 0px;
  text-align: center;
}

aside.small a {
  border-radius: 0;
}

aside.small a.active {
  background-color: #547df9;
  box-shadow: none;
}

aside.small .title, aside.small nav span, aside.small .logout span {
  display: none;
}

aside.small .logo, aside.small nav .circle {
  margin: 15px 0px 0px;
}

aside.small .logout img {
  margin: 25px 0px 0px;
}
